@font-face {
 font-family: 'cabin', sans-serif;
 src:url('../font/Cabin-Regular.ttf') format('ttf');
}


  body {
   font-family: 'cabin', sans-serif;
  }

.ui-btn{
  font-family: 'cabin', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

div[data-role="content"] {
  display: block;
  width: 93%;
  max-width: 480px;
  margin: 0 auto;
}

div[data-role="header"] p {
  text-align: center;
}

div[data-role="header"] p a {
  color: white !important;
  text-decoration: none;
}

legend {
  font-weight: bold;
  font-size: 16pt;
}

label small {
  color: slategray;
}



.text-center {
  text-align: center;
}

.orange-button {
  display: block;
  background: #00AC90;
  box-shadow: 0 1px 2px #AAA;
  color: #333 !important; /* This is getting overridden by a stylesheet loaded before this one. TODO? #333 */
  text-shadow: none;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.orange-button:hover {
  background: #00AC90;
}


/*Start of new css for tile index format
-----------------------------------------------------------------------------------------------------------*/
.row-dividers .main-page-dividers{
  color:#FFFFFF;
	width: 35%;
	margin-bottom: 3%;
	background-color: #09b087;
	display: inline-block;
	margin-top: 2%;


}

.main-page-dividers{
	padding: 1.8em;
	text-align:center;
  border-style: solid;
  border-color: #04604a;
  border-width: 1px;
  text-shadow: 0 1px 0 #444444;
	height: 90px;
	line-height: 500%;
  font-family: 'cabin', sans-serif;
  font-weight: bold;
}

/*Start of new css for social menu
-----------------------------------------------------------------------------------------------------------*/


.social-bar-bottom{
	background-color: #09b087;
	align-content: center;
	margin-top: 1.5%;
	padding: .8em; 

}
#center-social{
	text-align: -webkit-center;
}
.social-bar-bottom #center-social img{
	padding-left:2%;
}

