@font-face {
 font-family: 'cabin', sans-serif;
 src:url('../font/Cabin-Regular.ttf') format('ttf');
}


  body {
   font-family: 'cabin', sans-serif;
  }

.ui-btn{
  font-family: 'cabin', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

div[data-role="content"] {
  display: block;
  width: 93%;
  max-width: 480px;
  margin: 0 auto;
}

div[data-role="header"] p {
  text-align: center;
}

div[data-role="header"] p a {
  color: white !important;
  text-decoration: none;
}

legend {
  font-weight: bold;
  font-size: 16pt;
}

label small {
  color: slategray;
}



.text-center {
  text-align: center;
}

.orange-button {
  display: block;
  background: #00AC90;
  box-shadow: 0 1px 2px #AAA;
  color: #333 !important; /* This is getting overridden by a stylesheet loaded before this one. TODO? #333 */
  text-shadow: none;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.orange-button:hover {
  background: #00AC90;
}


/*Start of new css for tile index format
-----------------------------------------------------------------------------------------------------------*/
.row-dividers .main-page-dividers{
  color:#FFFFFF;
	width: 31%;
	margin-bottom: 2%;
	background-color: #09b087;
	display: inline-block;
	margin-top: 2%;

}

.main-page-dividers{
	padding: 1.8em;
	text-align:center;
  border-style: solid;
  border-color: #056f55;
  border-width: 1px;
  text-shadow: 0 1px 0 #444444;
	height: 88px;
  font-family: 'cabin', sans-serif;
  font-weight: bold;
  vertical-align: middle;
  line-height: 88px;

}
.main-page-dividers:active{
  background-color: #292562;
  border-color: #393389;
}
.main-page-dividers:hover{
  background-color: #0aca9b;
  border-color: #056f55;
  color: #ffffff;
  text-shadow: 0 1px 0 #444444;
   -webkit-box-shadow: 0 0 12px #292562;
    -moz-box-shadow: 0 0 12px #292562;
    box-shadow: 0 0 12px #292562;
}

/*Start of new css for social menu
-----------------------------------------------------------------------------------------------------------*/

.social-bar-bottom{
	background-color: #09b087;
	align-content: center;
	margin-top: 1.5%;
	padding: .5em; 
  border-style: solid;
  border-color: #056f55;
  border-width: 1px;

}
#center-social{
	text-align: -webkit-center;
}
.social-bar-bottom #center-social img{
	padding-left:2%;
}

/*Start of new css for side-bar menu
-----------------------------------------------------------------------------------------------------------*/

.side-menu-option{
  color: #000000;
  padding: 5%;
  font-weight: normal;
}

.side-menu-option:hover{
  background-color: #0aca9b;
  text-shadow: 0 0px 0 #444444;
  font-weight: normal;
  color: #ffffff;
}

/*Start of new css for scrolling teams 
-----------------------------------------------------------------------------------------------------------*/
#all-containers *{
margin:0;
padding:0;
outline:0;
}

#scroll {
width:max;
height:500px;
margin:30px auto; 
background:#A3CBE0; 
/* border:2px solid #000;
box-shadow:0 0 10px #000;
*/
overflow:auto;
scroll-snap-points-x: repeat(465px);
scroll-snap-type: mandatory;
}

#scroll ul {
display:table;
white-space:nowrap;
list-style:none;

}
#scroll li {
display:table-cell; 
text-align:center;   
}

#scroll img {
/*min-width: 80%;
max-width: 450px;
*/
margin:8px 10px 0 10px;

}

#scroll ul .about{
  text-align: left;
  margin-left: 20px;

}
#scroll ul .name{
  text-align: left;
  padding-left: 40%;
}
#scroll span {
padding:0 0 5px 0;
display:block;
}
/*Start of new css for copyright font 
-----------------------------------------------------------------------------------------------------------*/
#myPanel .copyright{
  font-size: .8em;
}


